body {
  background-image: url("images/BG_image01.jpg");
  background-size: 100%;
   background-repeat: no-repeat;
}

#container {
  width: 800px;
  margin: auto;
  background-color: white;
}

header {
  padding: 40px;
  height: 80px;
  font-size: 20px;
  background-image: url("images/BG_image02.jpg");
  background-size: 100%
   background-repeat: no-repeat;
}

nav {
  padding: 8px 40px;
  background-color: #faebd7;
  color: #d2691e;
}

article {
  padding: 40px;
  min-height : 400px;
}

footer {
  padding: 40px;
  height: 40px;
  background-color : #faebd7;
  color: #d2691e;
}
